.app {
  height: 100vh;
}

.section {
  height: 100%;
}

.editor {
  border-right: 2px solid black;
}

.preview {
  height: 50%;
  border-bottom: 2px solid black;
}

.graph {
  height: 50%;
  padding: 1rem;
}